body{
    text-align: center;  
  
    
 background-image: url ;

    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 300;
    
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    font-weight: 300;
    font-family: 'Lobster';
    color: cornsilk;
    
}
h1,h2{
    text-shadow: 0 0 8px rgb(66, 62, 62);
   
}

/*.nav {
  
    color: #ffffff;
    background-color:  #4d4747;     
    text-align: center; 
    width: auto;
    padding: 25px 50px 25px ;
   cursor: default;
}*/
.nav ul{
    display:flex;
    background-color: #4d4747;
    justify-content: center;
     margin: 20px 0;
     list-style: none;
}
   .nav ul li a.active{
    background-color:  #404347;
    box-shadow: none;
}
.social-media{
    text-align: center;
    color:#fdf4f4;
    list-style: none;
    border: oldlace;
   
   
}

nav ul a {
    text-decoration: none;
    display: inline-block;
    padding:0 4.25em;
    color:#fdf4f4;
}
.fa-map-marked-alt:before {
    color: rgb(241, 241, 241);
    font-size: 40px 40px;
}

.wrapper {
    width: 80%;
    margin: auto;
}
img {
    opacity: 0.5;
  }
  
  img:hover {
    opacity: 1.0;
  }
  a:-webkit-any-link {
    color:#fdf4f4;
    cursor:pointer;
    text-decoration: underline;
    text-shadow: 0 0 8px rgb(66 62 62);
   /* border-width: 4px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(247, 244, 244), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 12px;
*/
}
.hotel1{
    border-width: 4px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(247, 244, 244), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 12px;

}
.hotel2{
    border-width: 4px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(247, 244, 244), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 12px;
}
.hotel3{
    border-width: 4px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(247, 244, 244), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 12px;
}
.hotel4{
    border-width: 4px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(247, 244, 244), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 12px;
}
.hotel5{
    border-width: 4px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(247, 244, 244), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 12px;
}
/*.sumiu{
    animation-name: sumir;
    animation-duration: 6s;
}

@keyframes sumir{
 from{
opacity: 100%;
 
}
to {
    opacity: 0%;
}*/

@media screen and (max-width 768px) {
    selection, aside {
        width: 100px;
        padding: 0;
    }
}

@media screen and (max-width: 600px)
    nav li {
      float: none;
      text-align: center ;
      width: 100
    }





























  /*@media screen and (min-width:600px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }