body{
    text-align: center;  
  
   
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 300;
    
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    font-weight: 300;
    font-family: 'Lobster';
    color: cornsilk;
    
}
h1,h2{
    text-shadow: 0 0 8px rgb(66, 62, 62);
   
}

.nav {
  
    color: #ffffff;
    background-color:  #4d4747;     
    text-align: center; 
    width: auto;
    padding: 50px 50px 50px;
   cursor: default;
}
.nav ul{
    display:flex;
    justify-content: center;
     margin: 0;
     list-style: none;
}
   .nav ul li a.active{
    background-color:  #404347;
    box-shadow: none;
}
nav ul a {
    text-decoration: none;
    display: inline-block;
    padding:0 6.25em;
    color:#fdf4f4;
}
.nav ul li a{
    line-height: 100%;
   border-radius: 8px;
}

.fa-marked-alt{
    font-size: 40px 40px;
}

.wrapper {
    width: 80%;
    margin: auto;
}
img {
    opacity: 0.5;
  }
  
  img:hover {
    opacity: 1.0;
  }



































/*@media screen and (min-width: 1280px) {
    html {
        font-size: 14pt;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 17pt;
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    100% {
        transform: rotate(0deg);
    }
}*/